app\views\main\index.html.erb
<div class="d-flex align-items-center justify-content-center">
    <h3>Welcome to scheduled_tweets</h3>
</div>    
<% if @user %>
    <p>Logged in as: <%= @user.email %></p>
    <p><%= button_to "Logout", logout_path, method: :delete %></p>
<% end %>   
